<div class="container text-left">
    <div class="row justify-content-md-center mt-3">
        <div class="col-md-6 text-left bg-white rounded shadow py3">        
        <form (ngSubmit)="onSubmit()" [formGroup]="myReactiveForm" >
            
                <div class="form-group">
                    <label for="username">Username*</label>
                    <input type="text" class="form-control" placeholder="Enter Username" 
                    name="username" formControlName="username"> 
                    <small *ngIf="username">Your UserName is {{username}} 
                        <button type="button" class="btn btn-outline-success" 
                        (click)="setUsername()">Set UserName</button>
                    </small>             
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" 
                    placeholder="Enter Email" name = "email" 
                    formControlName="email"> 
                    <small class="text-danger" *ngIf="!myReactiveForm.get('email')?.valid && 
                    myReactiveForm.get('email')?.touched">Please enter valid Email</small> 
                </div>


            <div class="form-group">
              <label for="course">Select Course</label>
              <select class="form-control" id="course" 
              name="course" formControlName="course">
                  <option value="Angular">Angular</option>
                  <option value="Html">HTML</option>
                  <option value="JavaScript">Javascript</option>
                  <option value="Microservice">Microservice</option>
              </select>
            </div>
            <div class="form-group">
                <div class="form-check" *ngFor="let gender of genders">

                    <input class="form-check-input" type="radio" 
                    name="gender" id={{gender.id}} 
                    value={{gender.value}}
                    formControlName="gender"
                    >
                    <label class="form-check-label" for={{gender.id}}>
                      {{gender.value}}
                    </label>
                  </div>
            </div>
            <button type="submit" class="btn btn-outline-success" >Submit</button>
          </form>
    
        </div>
    </div>

    <div class="row justify-content-md-center mt-3">
        <div class="text-left col-md-6 shadow rounded bg-white py-3">
            
                <h2>Form Data</h2>
                <p>Username: {{formData.username}}</p>
                <p>Email:  {{formData.email}}</p>
                <p>Course:  {{formData.course}}</p>
                <p>Gender:  {{formData.gender}}</p>
            
        </div>

    </div>
</div>
